<h2>{{config.header}}</h2>
<mat-card>
	<app-counter-output [config]="config" [counter]="counter"></app-counter-output>
	<app-counter-button (incrementSet)="onIncrementSet($event)"></app-counter-button>
</mat-card>	
<br/>
<mat-card>
	<app-counter-log-buttons></app-counter-log-buttons>
</mat-card>	
<br/>
<mat-card>
	<form [formGroup]="specialForm" (ngSubmit)="onSubmit(specialForm)" class="form">
		<mat-card-content>
			<mat-form-field appearance="fill">
				<mat-label>Name</mat-label>
				<input matInput formControlName="specialName">
			</mat-form-field>
			<br/>
		</mat-card-content>
		<app-counter-custom-input formControlName="specialCustom"></app-counter-custom-input>
		<mat-card-actions>
			<button mat-button type="submit" color="primary">Submit</button>
		</mat-card-actions>
	</form>
</mat-card>
<br/>
<app-counter-template>
	<p #contentRef>This is ng-content</p>
</app-counter-template>