<h2>Basic icons</h2>
<mat-icon>check_circle</mat-icon>
<mat-icon>payments</mat-icon>
<mat-icon>close</mat-icon>
<mat-icon color="primary">check_circle</mat-icon>
<mat-icon color="accent">payments</mat-icon>
<mat-icon color="warn">close</mat-icon>

<h2>Icon Buttons</h2>
<button mat-icon-button>
	<mat-icon color="primary">check_circle</mat-icon>
</button>

<h2>Icon FAB</h2>
<button mat-fab color="primary">
	<mat-icon>check_circle</mat-icon>
</button>

<h2>Icon Mini FAB</h2>
<button mat-mini-fab color="primary">
	<mat-icon>check_circle</mat-icon>
</button>