<mat-toolbar color="primary" >
    <button mat-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <ng-content></ng-content>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>people</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item *ngIf="!this.isAuthenticated" routerLink="/auth">Login</button>
      <button mat-menu-item *ngIf="this.isAuthenticated" (click)="onLogout()">Logout</button>
    </mat-menu>
  </mat-toolbar>