<mat-sidenav-container>
  <mat-sidenav #sidenav [fixedInViewport]='true' class="example-sidenav-content" (click)="onToggle()">
    <mat-toolbar color="primary">Mat toolbar</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/first" >First</a>
      <a mat-list-item routerLink="/second" >Second</a>
      <a mat-list-item routerLink="/todos" >Todos</a>
      <a mat-list-item routerLink="/machines" >Machines</a>
      <a mat-list-item routerLink="/counter" >Counter</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (menuToggle)="onToggle()">
      Angular App 01
    </app-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>