<mat-card>
	<mat-card-title>Form</mat-card-title>
	<mat-card-subtitle>This is a todo form</mat-card-subtitle>
	<form [formGroup]="todoFormGroup" (ngSubmit)="onSubmit(todoFormGroup)" class="form">
		<mat-card-content>
			<mat-form-field appearance="fill">
				<mat-label>Task</mat-label>
				<input matInput formControlName="task">
				<mat-error *ngIf="!todoFormGroup.controls['task'].valid && todoFormGroup.controls['task'].touched">
					Invalid
				</mat-error>
			</mat-form-field>
			<br/>
			<mat-form-field appearance="fill">
				<mat-label>Priority</mat-label>
				<mat-select formControlName="priority">
					<mat-option *ngFor="let priority of priorities" [value]="priority">
						{{priority}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<br/>
			<mat-checkbox formControlName="consent" value="false">I agree to the terms and conditions</mat-checkbox>
			<mat-error *ngIf="!todoFormGroup.controls['consent'].valid && todoFormGroup.controls['consent'].touched">
				Invalid
			</mat-error>
		</mat-card-content>
		<mat-card-actions>
			<!-- TODO disabled if not valid -->
			<button mat-button color="primary">Submit</button>
		</mat-card-actions>
	</form>
</mat-card>